torch==2.1.2+cu121     # Match CUDA version
--extra-index-url https://download.pytorch.org/whl/cu121
transformers
fastapi
uvicorn
redis
flake8
pylint
mypy
pytest
httpx
tiktoken
protobuf
sentencepiece

